.img-apoiadores {
  overflow: hidden; /* Garante que a imagem não ultrapasse os limites do contêiner */
}

.img-apoiadores img {
  width: 200%;
  height: auto;
  object-fit: cover; /* Garante que a imagem cubra a área sem distorcer */
}

@media (max-width: 768px) {
  .img-apoiadores img {
    transform: scale(1.8); /* Aumenta a imagem em 10% */
    padding: 50px 0;
  }
  .img-apoiadores {
  background-color: #F5F7FA;
  }

}