.card-cursos {
  height: 517px;
  margin: 30px 0;
  border-radius: 35px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-text {
  margin-bottom: 4px;
}

.espaco-cursos {
  display: flex;
  align-items: flex-end; 
  height: 100%; 
}

@media (max-width: 1390px) {
  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .titulo-curso-programa {
    text-align: center;
  }

  .card-cursos {
    height: auto; 
    width: 80%;
    justify-self: center;
    margin: 20px 0;
  }

  .espaco-cursos {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
  }

  .ver-cursos {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .card-cursos button {
    margin: 8px 0;
  }
}