.card-cursos {
  height: 517px;
  margin: 30px 0;
  border-radius: 35px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-text {
  margin-bottom: 4px;
}

.espaco-cursos {
  display: flex;
  align-items: flex-end; /* Garante que os itens fiquem alinhados na parte inferior */
  height: 100%; /* Define altura total para que o alinhamento funcione */
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  display: flex;
  align-items: center;
}

ul li p {
  margin-left: 10px;
  margin-bottom: 0;
}

ul.col-6 {
  display: flex;
  flex-direction: column;
}

span.col-6 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 10px;
}

.ver-cursos {
  margin: 50px 0;
}

/* Ajustes responsivos */
@media (max-width: 1390px) {
  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .titulo-curso-programa {
    text-align: center;
  }

  .card-cursos {
    height: auto; /* Ajuste a altura para melhor exibição em telas pequenas */
    width: 80%;
    justify-self: center;
    margin: 20px 0;
  }

  .espaco-cursos {
    flex-direction: column;
    align-items: flex-start; /* Alinha os itens ao topo */
    margin-top: 30px;
  }

  .ver-cursos {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .btn-responsivo {
    display: flex;
    justify-self: start;
    align-self: flex-start;
    padding-left: 0;
  }
  
  /* Ajustando o botão para alinhá-lo ao texto */
  .btn-responsivo button {
    align-self: flex-start; /* Faz o botão alinhar ao texto no topo */
    margin-top: 10px; 
  }
}