.destaque {
  justify-items: center;
  margin-top: 65px ;
  margin-bottom: 65px ;
  text-align: center;
}

.destaque h2 {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .row.destaque {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens */
  }

  .col-4.destaque {
    width: 100%; /* Faz cada destaque ocupar a linha toda */
    max-width: 100%;
    flex: 1 1 100%;
    margin-bottom: 20px; /* Adiciona espaçamento entre os itens */
  }
}