.bg-footer {
  background-color: #0D7CCE;
}

.bolinha {
  width: 4px;            
  height: 4px;          
  background-color: #fff; 
  border-radius: 50%;    
  margin: 10px 20px ;
}

.texto-footer {
  text-align: center;
  padding: 10px;
  color: #fff;
  align-items: center;
  padding: 20px;
}

.texto-footer-saite {
  font-size: 16px;
}

.texto-footer-termos {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.texto-footer-termos a {
  text-decoration: none;
}

.logo-footer {
  margin-top: 50px;
}

.logo-footer img {
  width: 30rem;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .logo-footer img {
    width: 20rem;
    margin-bottom: 30px;
  }
}