* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif; 
  color: #0A0A0A; 
}

header p, ul li a, a{
  color: #fff;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  display: flex;
  align-items: center;
}

ul li p {
  margin-left: 10px;
  margin-bottom: 0;
}

ul.col-6 {
  display: flex;
  flex-direction: column;
}

span.col-6 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 10px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.card h3 {
  font-weight: 600;
  font-size: 1.5rem;
}

.adicionar-espaco {
  padding-bottom: 10px;
}

.btn {
  border-radius: 60px;
  background-color: #0D7CCE;
  color: #fff;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
}

.btn:hover {
  background-color: #0564a8;
  color: #fff;
}

.titulo-cursos-programa {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #043463;
  margin-top: 50px;
}

.ver-cursos {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .titulo-cursos-programa {
    text-align: center;
  }
}