.introducao {
  background: url(../img/bg-1secao.svg) no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.intro-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  height: 100%;
}

.introducao h1, .introducao h2 {
  color: #043463;
  font-weight: 600;
  font-size: 34px;
  margin: 24px 0;
}

.introducao p {
  margin-bottom: 40px;
}

.saiba-mais {
  display: flex;
  justify-self: start;
}

.seta-container {
  width: 86px;
  height: 86px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seta {
  color: #204963;
  font-size: 20px;
}

.carousel-control-prev, .carousel-control-next {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  background-color: #D9D9D9;
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-indicators button.active {
  background-color: #043463;
}

/* Para telas de até 1390px */
@media (max-width: 1390px) {
  .intro-row {
    margin-top: 0;
  }

  .input {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 50%;
  }

  .header-col-opcoes {
    display: flex;
    justify-self: center;
    align-self: center;
    text-align: center;
    width: 50%;
  }

  .intro-coluna {
    padding: 10px 50px;
    text-align: center;
  }

  .intro-coluna button {
    display: flex;
    justify-self: center;
  }

  .img-mac-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .img-mac-intro img {
    max-width: 100%;
    height: auto;
  }

  .carousel-control-prev, .carousel-control-next {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-col-opcoes {
    text-align: center;
  }
}